<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->
<input type="text" class="form-control" [(ngModel)]="serverName" />
<p>{{ serverName }}</p>

<button
  class="btn btn-primary"
  [disabled]="!allowedNewServer"
  (click)="onCreateServer()"
>
  Create Server
</button>
<!-- <p [innerText]="allowedNewServer"></p> -->
<p *ngIf="serverCreated">Server was created, server name is {{ serverName }}</p>
<app-server></app-server>
<app-server></app-server>
